<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/css/destyle.css">
  <link rel="stylesheet" href="./assets/css/fonts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <script src="https://kit.fontawesome.com/678cad97f5.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./assets/js/behavior.js" defer></script>
</head>

<body>
  <div class="container">
    <div id="app">
      <form id="show-on-off" action="" method="post">
        <dl>
          <dt>表示・非表示について</dt>
          <dd>
            <input type="checkbox" id="show" v-model="show">
            <label for="show">表示・非表示</label>
          </dd>
          <dd>
            <div id="panel" v-if="show">
              <h3>RSSフィードについて</h3>
              <p>「RSS」をうまく活用すれば、必要とする情報を効率よく取得し、新着記事や更新情報をリアルタイムに入手することができます。複数のWebサイトから必要な情報だけを自動で取得・まとめて管理することができるので、その都度サイトを訪れる必要はありません。</p>
            </div>
            <footer v-else>現在は、非表示状態です。</footer>
          </dd>
          <div class="last-element">あえて最後の要素を記述しておく。</div>
        </dl>
      </form>
    </div>
  </div>
</body>

</html>