.app 
  display: flex
  max-width: 600px
  margin: 5rem auto
  padding: 1rem
  background-color: #eee
  border-radius: .3rem
  a
    display: inline-block
    + a
      margin-left: 20px
  button
    margin-left: 20px

