@use "../forwards" as fw

.app
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 50px
h1
  font-size: 2rem
  font-weight: 900
ul
  margin-top: 30px
  li + li
    margin-top: 20px